.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px;

  img {
    width: 900px;
    border-radius: 8px;
  }
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.back {
  padding: 8px 0 0 8px;
}

.column {
  margin: auto;
  width: 80%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
